{{ if .Page.Store.Get "hasMermaid" }}
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>
    primaryTextColor = getComputedStyle(document.documentElement).getPropertyValue('--default-color').trim()
    primaryColor = getComputedStyle(document.documentElement).getPropertyValue('--grey-4').trim()
    lineColor = getComputedStyle(document.documentElement).getPropertyValue('--default-tint').trim()
    mermaid.initialize({
      startOnLoad: true,
      theme: 'base',
      themeVariables: {
        primaryTextColor: primaryTextColor,
        primaryColor: primaryColor,
        lineColor: lineColor
      }
    });
  </script>
{{ end }}
